.container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  height: 500px;
  width: 500px;
  /*the line below centers the container*/
  margin: 0 auto;
  background: rgba(200, 500, 200, 0.9)
}
}
.word {
  border: 1px solid black;
  text-align: center;
}
body {
  
}
h1 {
  font-family: "Times New Roman", Times, serif;
  text-align:center;
}