.container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  height: 500px;
  width: 500px;
  /*the line below centers the container*/
  margin: 0 auto;
  background-color: rgba(255,0,0,.5);
  text-align: center;
}
div {
  border: 1px solid black;
}

body {
font-family: 'Bubbler One', sans-serif;
background-color: transparent;
}

h1 {
text-align: center;
}

#dudes {
font-size: 300px;
margin: 0 auto;
}